<h2 class="h2-responsive fw-bold text-center my-2">
    Booking
</h2>



<br><br>
<div class="container">
    <form action="action_page.php">
  
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="Email">E-mail</label>
      <input type="text" id="Email" name="Email" placeholder="Your email..">
      <label for="phonenumber"> Phone number</label>
      <input type="text" id="phno" name="phno" placeholder="Your phone no..">

      <label for="movingfrom">Moving From</label>
      <input type="text" id="movingfrom" name="movingfrom" placeholder="">
      <label for="movingto">Moving To</label>
      <input type="text" id="movingto" name="movingto" placeholder="">
      
      <div class="form-group">
        <label for="exampleFormControlSelect1">Distance</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Below 10km</option>
          <option>Above10-20km</option>
          <option>20-40km</option>
          <option>50-100km</option>
          <option>Above 100km</option>
        </select>
      </div>
  
      <label for="subject">Please enter the special requirements</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="send">
  
    </form>
  </div>

