
<br><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer-distributed">

            <div class="footer-left">
                <i class="bi bi-bus-front" style="font-size: 20px; color: #fff;">    SAFE AND ECONOMICAL</i>

                
                <p class="footer-links">
                    <a href="">Home</a>
                    ·
                    <a href="aboutus">About Us</a>
                    ·
                    <a href="services">Services</a>
                    ·
                    <a href="contactus">Contact Us</a>
                    ·
                    
                    <a href="policies">Policies</a>
                    .
                    <a href="reviews">Reviews</a>
                    ·
                     <a href="login">login</a>
                   
                </p>

                <p class="footer-company-name">Movers and packers © 2023</p>

                <div class="footer-icons">

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>

                </div>

            </div>

            
        </footer>
  