<br><br>

<h2 class="h2-responsive fw-bold text-center my-2">
    Reviews
</h2><br><br><br>
<div class="container">
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <h3 class="h3-responsive fw-bold text-center my-3" style="font-size: 50px;">...</h3>
                    <p>"Very good service, they had all the necessary tools and equipment to do the needful and the guys who dropped by were professional and polite. They were ready to do anything as per our requirements. The owner is very humble enough to help his clients, Appreciate it"</p>
                    
                  </div>
                  <div class="flip-card-back"><br><br><br><br>
                    <img src="https://www.sehdevpackers.com/sdimages/download.png" alt="Avatar" style="width:100px;height:100px;">
                    <h1>Lakhan Sharma</h1>
                    
                  </div>
                </div>
              </div>
            
          </div>
          <div class="col"><div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h3 class="h3-responsive fw-bold text-center my-3" style="font-size: 50px;">...</h3>
                <p>"Best among all the packers and movers. Had very good experience. Door to door service provider by them is excellent and they have sense of responsibility to deliver your belongings in time and safely. Strongly recommended."</p>
                
              </div>
              <div class="flip-card-back"><br><br><br><br>
                <img src="https://www.sehdevpackers.com/sdimages/download.png" alt="Avatar" style="width:100px;height:100px;">
                <h1>Sufal Sarkar</h1>
                </div>
            </div>
          </div>
        
            
          </div>
          <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <h3 class="h3-responsive fw-bold text-center my-3" style="font-size: 50px;">...</h3>
                    <p>" Been using their services for all most a decade, since beginning of association till now, I see the same level of service filled with dedication and optimism. All customers request remains entertained irrespective of time and urgency. I strongly recommend their services. One most important factor I.e Pocket Friendly.. "</p>
                    
                  </div>
                  <div class="flip-card-back"><br><br><br><br>
                    <img src="https://www.sehdevpackers.com/sdimages/download.png" alt="Avatar" style="width:100px;height:100px;">
                 <h1>Riya Majhi</h1>
                
                  </div>

                </div>
              </div>
          </div>
        </div>
      </div>

 </div>