
<div class="about-section">
  <h1>About Us </h1>
  <p> An organisation who helps people pack and move their belongings from one place to another. They take full responsibility for the belongings that we have asked to move and they also provide a refund if something is broken or lost. This is what is packers and movers meaning.</p>
  
</div> 

 <h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://media.istockphoto.com/id/1356576723/photo/mission-compass-concept.jpg?b=1&s=170667a&w=0&k=20&c=lFvZ76tcVnvNlfDHEZAibjEVNINwXYNyvyrGQ8epv10=" alt="" style="width:100%">
      <div class="container">
        <h2 style="text-align:center">Mission</h2>
        
        <p>"Customization of services according to the need of the customer and making sure relocation is totally hassle free. We wish to establish our self as a market leader in providing customized services for providing relocation services to our customers and establishing as a market leader by virtue of quality service and by educating people and creating awareness of this service.”</p>
        
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <img src="https://media.istockphoto.com/id/470057372/photo/vision-concept.jpg?b=1&s=170667a&w=0&k=20&c=CPhxPeFqyKJdQUxfXUuT-B_L9KpyVHHr1TMXb1brSpo=" alt="" style="width:100%">
      <div class="container">
        <h2 style="text-align:center" >Vision</h2>
        
        <p>“To become a complete package for the corporate to make sure smooth transfer and movement of their employees by providing not just door to door service but also housing and helping them settle in the new city.”</p>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://thumbs.dreamstime.com/b/magnifying-glass-text-objectives-chart-207692307.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2 style="text-align:center">Objective</h2>
        
        <p>Packers and movers are service providers that pack and move our belongings including furniture, suitcases, artifacts, and furnishings, among others safely. This helps to ease out the moving process as these service providers become our one stop shop for relocating solutions.</p>
       
      </div>
    </div>
  </div>
</div> 

